@charset "UTF8";

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(58, 131, 249);
}
header{
    margin:50px;
    text-align: center;
    color: white;
}
main{
    display: flex;
    justify-content: center;
}
section{
    width: 600px;
    height: 450px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-left: 15px;
}
#imagens, #msg{
    text-align: center;
}
#image{
    width: 200px;
    height: 200px;
}
#gender {
    display: flex;
    align-items: center;
}
#gender > label {
    margin-left: 5px;
}
#men, #woman {
    margin-left: 10px;
}
#verify > input {
    padding: 10px;
    border-radius:5px;
    border: 1px solid rgba(0, 0, 0, 0.52);
    cursor: pointer;

}